<launch>
    <node pkg="usb_cam" type="usb_cam_node" name="camera">
        <param name="video_device" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_A4EC6ABF-video-index0" />
        <param name="image_width" value="1920" />
        <param name="image_height" value="1080" />
    </node>
</launch>
